.container {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
}
.col-md-12 {
  text-align: center;
}
.button {

 /* nothing works here! */
}

#begin {
  display: block;
}

#game {
  display: none;
}

#score {
  display: none;
}

#scoreboard {
  display: none;
}

.time {
  font-family: Arial, Helvetica, sans-serif;
  display: none;
}
