.container {
    
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  padding: 10px;
  width: 60px;
}
#begin{
    display: block;
}

#game{
    display: none;
}

#score{
    display: none;
}

#scoreboard{
    display: none;
}

.time {
  font-family: Arial, Helvetica, sans-serif;
  display: none;
}
