.container {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 50%;
  }
  .col-md-12 {
    text-align: center;
    font-size: 20px;
  }
  #beginButton {
    background-color: purple;
    color: white;
    object-position: center;
    /* nothing works here! */
  }
  
  .btn-group-vertical {
    object-position: center;
    font-size: 18px;
  }
  #buttonOne {
    background-color: purple;
    color: white;
  }
  #buttonTwo {
    background-color: purple;
    color: white;
  }
  #buttonThree {
    background-color: purple;
    color: white;
  }
  #buttonFour {
    background-color: purple;
    color: white;
  }
  
  #begin {
    display: block;
  }
  
  #game {
    display: none;
  }
  
  #score {
    display: none;
  }
  
  #scoreboard {
    display: none;
  }
  
  .time {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: none;
    text-align: right; 
  }
